body {
	background: url('images/background.jpg') no-repeat right center fixed;
	background-color:rgb(0,0,0);
	font: 85%/140% Arial, Helvetica, sans-serif;
	max-width: 96%;
}

h3 {
	color: white;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 150%;
}

h4 {
	color: rgb(0,0,0);
	font-size: 200%;
	}
	
h5 {
	margin: 10px;
	color: white;
	}

p {
	margin: 0 10px 10px 10px;
	color: white;
}

.col3 p {
	margin: 0 10px 10px 10px;
	}
	
/* set html5 elements to block*/

article {
	display: block;
}

.grid3 img {
	width: 100%;
	height: 100%;
		-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px 0 0;
	}
	
.grid2 img {
	width: 45%;
	height: 45%;
	position:relative;
	left: 25%;
	}

	
.text {
	background-coflor: rgba(0,43,28, 0.9);
	bordefr: 1px solid red;
	float: right;
	width: 51%;
	color: white;
	}

#pagewrap {
	background: rgba(215,219,190, .9);
	width: 960px;
	max-width: 96%;
	margin: auto;
	-moz-border-radius: 15px 15px 0 0;
	-webkit-border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0 0;
}

#pagewrap2 {
	background: rgba(215,219,190, .5);
	max-width: 100%%;
	border: 1px solid black;
	padding-left: 1%;
	padding-right: 1%;
}

.wrapper {
	overflow: hidden;
}

#right {
	float: right;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 15px;
	position: relative;
	top: 20px;
	}
	
.login {
	margin-right: 65px;
	margin-bottom: 5px;
	float: right;
	}
	
.login a {
	text-decoration: none;
	color: black;
	}

.login a:hover {
	text-decoration: none;
	color: red;
	}

.search {
	float: right;
	}	

.logo {
	padding-top: 15px;
	padding-left: 25px;
	padding-bottom: 15px;
	}

/*COLUMN*/

.col {
	float: left;
	margin-left: 3.2%;
	
}

.grid7 {
	border: 1px solid black;
	background-color: rgb(91,42,96);
	color: white;
	}

.grid7 .col {
	width: 14%;
	margin-top: 10px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.grid7 .col a {
	text-decoration: none;
	color: white;
	}
	
.grid7 .col a:hover {
	color: red;
	height: auto;
	}

.grid3 .col {
	background-color: rgb(91,42,96);
	width: 31.2%;
	margin-bottom: 30px;
	color: white;
		-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.grid2 .col {
	background-color: rgb(91,42,96);
	width: 48.4%;
	margin-bottom: 30px;
	border-radius: 4px 4px 0 0;
}

.fullwidth .col {
	background-color: rgb(91,42,96);
	float: none;
	margin-left: 0;
	bordder: 1px solid red;
	}
	
.grid7 .col:nth-of-type(7n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1){
	margin-left: 0;
	clear: left;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {

	body {
		background-size: 65%;
		}
	
	.grid7 .col {
		width: 100%;
		margin-left: 0;
		clear: left;
	}
	
	.grid3 .col {
		width: 48.4%
	}
	
	.grid3 .col:nth-of-type(3n+1) {
		margin-left: 3.2%;
		clear: none;
	}
	
	.grid3 .col:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}
	
	img {
		width: 100%;
		height: auto;
		}
		
	.text {
		width: 51%;
		}
		
	#right {
	margin: 7px 20px 0 0;
	position: relative;
	top: 5%;
	}
	
	h3 {
	color: white;
	padding-left: 10%;
	font-size: 100%;
	}

	
	h5{display:none;}

	.text {
		margin-left: 30%;}
	
	.grid2 img {
	width: 45%;
	height: 45%;
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
	}
	
}

@media screen and (max-width: 400px) {
	
	.col {
		width: 100% !important;
		margin-left: 0 !important;
		clear: none !important;
	}
	
	.grid7 .col {
		width: 100%;
		margin-left: 0;
		clear: left;
	}
	
	
	img {
		width: 100%;
		height: auto;
		}
		
	#right {
	float: right;
	margin: 7px 20px 25px 0;
	}
	
	h4 {
	color: rgb(0,0,0);
	font-size: 200%;
	padding-top: 15px;
	}
	
}